@import "./home";

#about {
  @extend #home;
  background: rgb(28, 5, 47);
  justify-content: flex-start;
  height: 100vh;
  padding: 2rem;
  .title {
    h1 {
      font-family: "Montserrat", sans-serif;
      color: $secondaryColor;
      border-bottom: 2px solid white;
    }
  }
}
