@import "./home";

#about {
  @extend #home;
  background: rgb(16, 7, 23);
  justify-content: flex-start;
  height: 100vh;
  padding: 2rem;
  .title {
    h1 {
      font-family: "Montserrat", sans-serif;
      color: $secondaryColor;
      // border-bottom: 2px solid white;
    }
  }
  .content {
    margin-top: 1rem;
    // background: rgb(5, 0, 8);
    // box-shadow: rgba(223, 208, 208, 0.5) 0px 0px 5px 0px, rgba(231, 192, 192, 0.1) 0px 0px 1px 0px;
    // width: 25rem;
    border-radius: 2rem;
    color: white;
  }
}
