@import "./home";

#about {
  background: white;

  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;

  .about-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .box {
    padding: 1rem;

    // background: rgb(5, 0, 8);
    // box-shadow: rgba(223, 208, 208, 0.5) 0px 0px 5px 0px, rgba(231, 192, 192, 0.1) 0px 0px 1px 0px;
    // width: 25rem;
    border-radius: 2rem;
    color: white;

    // min-height: 20rem;
    background: rgba(255, 255, 255, 0.736);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .content {
    width: 50%;
    margin-top: 1rem;
  }
  .skills {
    width: 40%;
    margin-top: 5rem;
  }
}

//skill component:
.skill-box {
  margin-bottom: 1rem;
  img {
    width: 70px;
  }
}

//skill tooltip:
.tooltip {
  display: inline-block;
  position: relative;

  text-align: left;
}

.tooltip .bottom {
  top: 55px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 4px 4px;
  min-width: 60px;
  text-align: center;
  border-radius: 2px;
  background: #444444c7;
  color: white;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  display: none;
}

.tooltip:hover .bottom {
  display: block;
}
