#footer {
  background: linear-gradient(180deg, rgba(146, 130, 205, 0.268) 25%, $bg-color-1 100%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  flex-direction: column;
  footer {
    p {
      color: $secondaryColor;
      font-family: $contentFont;
    }
  }
}
