@import "./variables";

@mixin flex($align, $justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

.header-container {
  @include flex(center, center, row);
  // border-bottom: 2px solid $secondaryColor;
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  transition: 0.4s ease;
  background: rgba(16, 7, 23, 0.8);
}
.navbar-active {
  background: rgb(28, 5, 47);
  height: 7rem;
  opacity: 0.95;
}
.header-inner {
  @include flex(center, space-between, row);
  width: 80%;
  // padding: 2rem 2.5rem;

  align-items: baseline;
}
.logo {
  // color: $primaryColor;
  @include flex(center, center, column);
  h2 {
    // font-family: "Source Sans Pro", sans-serif;
    font-family: "Cinzel", serif;
    color: white;
    // text-shadow: 0px 0px 8px $secondaryColor;
    font-size: 1.8rem;
  }
  // h1 {
  //   font-family: "Source Sans Pro", sans-serif;
  //   color: white;
  //   text-shadow: 0px 0px 8px $secondaryColor;
  // }
}
.navbar {
  @include flex(center, center, row);
  li {
    list-style: none;
    padding: 0rem 1rem;
    font-size: 1.3rem;
    color: $secondaryColor;
    font-family: "Cinzel", serif;

    transition: 0.3s;
    &:hover {
      color: white;
      text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
    }
  }
  a {
    text-decoration: none;
  }
}
