@mixin flex($align, $justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  min-height: 100vh;
  flex-direction: $direction;
}

#home {
  @include flex(center, center, column);
  width: 100%;
  background: url("../assets/colorful-abstract-nebula-space-background.jpg") no-repeat center center/cover;
  // background: rgb(28, 5, 47);
}
.home-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 6rem;
  width: 80%;

  .home-inner-left {
    padding: 1.5rem;
    h1 {
      // font-family: "Source Sans Pro", sans-serif;
      font-family: "Montserrat", sans-serif;
      font-size: 2.2rem;
    }
    .span_purple {
      color: $secondaryColor;
      font-size: 2.6rem;
    }
    .span_white {
      color: white;
    }

    button {
      background: $thirdColor;
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      margin-top: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: 0.3s ease-in;
      &:hover {
        background: rgb(83, 146, 71);
      }
    }
    .fa-file-arrow-down {
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }
  }
  .home-inner-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    height: 30rem;
    margin-bottom: 1rem;
    // background: url("../assets/Appleseeds_small.jpg") no-repeat center center/contain;
    border-radius: 50%;
    box-shadow: rgba(249, 249, 249, 0.25) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
    .home-inner-image {
      margin: 0.5rem;
      width: 100%;
      max-width: 25rem;
      height: 25rem;
      border-radius: 50%;
      background: url("../assets/Appleseeds_small.jpg") no-repeat center center/cover;
      box-shadow: rgba(249, 249, 249, 0.25) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
    }
  }
}

@media (max-width: 1200px) {
  .home-inner {
    gap: 0rem;
    width: 100%;
    .home-inner-left {
      text-align: center;
      width: 100%;
    }
    .home-inner-right {
      box-shadow: none;
    }
  }
}
