#portfolio {
  background: $bg-color-1;
  // background: linear-gradient(0deg, $bg-color-1 15%, $brightgreen 100%);
  background: linear-gradient(180deg, $bg-color-1 25%, rgba(146, 130, 205, 0.268) 100%);

  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;

  .portfolio-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    padding-top: 2rem;
    width: 100%;

    flex-direction: row;
    gap: 1.4rem 0rem;
    flex-wrap: wrap;

    .project-box {
      display: flex;
      // justify-content: space-between;

      align-items: center;
      padding: 1rem;
      max-width: 100%;
      min-height: 20rem;
      border-radius: 2rem;
      background: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      .project-box-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .project-image {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          width: 30rem;
          min-height: 22rem;

          background: rgba(146, 130, 194, 0.268);

          border-radius: 1rem;
          overflow: hidden;
          img {
            width: 25rem;
            border-radius: 1rem;
            object-position: center;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            display: block; //imporetent, removes gap between image and border
            transition: 1.7s;

            &:hover {
              box-shadow: rgba(14, 30, 37, 0.504) 0px 2px 4px 0px, rgba(14, 30, 37, 0.548) 0px 2px 16px 0px;
              transform: scale(2);
            }
          }
        }
        .project-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 1rem;
          // background: $bg-color-2;
          // background: $brightgreen;
          background: rgba(191, 179, 222, 0.268);
          border-radius: 1rem;
          width: 42rem;
          max-width: 100%;

          min-height: 22rem;
          // object-fit: cover;
          h3 {
            font-family: $contentFont;
            color: $thirdColor;
            margin-bottom: 1rem;
          }
          p {
            margin: 0.4rem;
            font-size: 1rem;
          }
          .icon-links {
            display: flex;
            gap: 0.4rem;
            margin: 1.2rem 0.5rem;
            .fa-link,
            .fa-video,
            .fa-github {
              font-size: 1.8rem;
              color: rgb(103, 73, 168);

              transition: 0.2s all ease-in-out;
              &:hover {
                color: $darkgreen;
              }
            }
          }
        }
      }
    }
  }
}

// @media (max-width: 1250px) {
//   .portfolio-container {
//     .project-box {
//       .project-content {
//         max-width: 45rem;
//       }
//     }
//   }
// }
@media (max-width: 1250px) {
  #portfolio {
    .portfolio-container {
      .project-box {
        .project-box-inner {
          .project-image {
            width: 25rem;
            img {
              width: 22rem;
            }
          }
          .project-content {
            max-width: 35rem;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  #portfolio {
    .portfolio-container {
      .project-box {
        .project-box-inner {
          .project-image {
            width: 30rem;
            img {
              width: 28rem;
            }
          }
          flex-direction: column;
          .project-content {
            max-width: 30rem;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  #portfolio {
    .portfolio-container {
      .project-box {
        .project-box-inner {
          .project-content {
            width: 100%;
          }
          .project-image {
            width: 100%;
            img {
              width: 100%;
              // max-width: 25rem;
            }
          }
        }
      }
    }
  }
}
