$primaryColor: rgb(33, 33, 33);
$secondaryColor: rgb(148, 122, 205);
$thirdColor: rgb(38, 0, 121);
$fourthColor: rgb(204, 190, 236);
$bg-color-1: rgb(252, 247, 255);
$bg-color-2: rgba(207, 195, 213, 0.558);
$contentText: #333;
