#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background: rgb(252, 247, 255);
}

.home-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 6rem;
  width: 80%;
}
.home-inner .home-inner-left {
  padding: 1.5rem;
}
.home-inner .home-inner-left h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
}
.home-inner .home-inner-left .span_purple {
  color: rgb(148, 122, 205);
  font-size: 2.6rem;
}
.home-inner .home-inner-left .span_white {
  color: rgb(38, 0, 121);
}
.home-inner .home-inner-left button {
  background: rgb(38, 0, 121);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  margin-top: 1rem;
  border: 0.5px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.home-inner .home-inner-left button:hover {
  background: rgba(5, 121, 90, 0.664);
  border: 0.5px solid rgba(5, 121, 90, 0.953);
}
.home-inner .home-inner-left .fa-file-arrow-down {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.home-inner .home-inner-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  height: 30rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  box-shadow: rgba(5, 121, 90, 0.274) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
}
.home-inner .home-inner-right .home-inner-image {
  margin: 0.5rem;
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: url("../assets/Appleseeds_small.jpg") no-repeat center center/cover;
  box-shadow: rgba(249, 249, 249, 0.25) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
}

@media (max-width: 1200px) {
  .home-inner {
    gap: 0rem;
    width: 100%;
  }
  .home-inner .home-inner-left {
    text-align: center;
    width: 100%;
  }
  .home-inner .home-inner-right {
    box-shadow: none;
  }
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background: rgb(252, 247, 255);
}

.home-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 6rem;
  width: 80%;
}
.home-inner .home-inner-left {
  padding: 1.5rem;
}
.home-inner .home-inner-left h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
}
.home-inner .home-inner-left .span_purple {
  color: rgb(148, 122, 205);
  font-size: 2.6rem;
}
.home-inner .home-inner-left .span_white {
  color: rgb(38, 0, 121);
}
.home-inner .home-inner-left button {
  background: rgb(38, 0, 121);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  margin-top: 1rem;
  border: 0.5px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.home-inner .home-inner-left button:hover {
  background: rgba(5, 121, 90, 0.664);
  border: 0.5px solid rgba(5, 121, 90, 0.953);
}
.home-inner .home-inner-left .fa-file-arrow-down {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.home-inner .home-inner-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  height: 30rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  box-shadow: rgba(5, 121, 90, 0.274) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
}
.home-inner .home-inner-right .home-inner-image {
  margin: 0.5rem;
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: url("../assets/Appleseeds_small.jpg") no-repeat center center/cover;
  box-shadow: rgba(249, 249, 249, 0.25) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
}

@media (max-width: 1200px) {
  .home-inner {
    gap: 0rem;
    width: 100%;
  }
  .home-inner .home-inner-left {
    text-align: center;
    width: 100%;
  }
  .home-inner .home-inner-right {
    box-shadow: none;
  }
}
#about {
  background: white;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
#about .about-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
#about .title h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(148, 122, 205);
  font-weight: bold;
  margin-bottom: 0.8rem;
  border-bottom: 2px solid green;
}
#about .content {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  color: white;
  width: 50%;
  min-height: 20rem;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#about .skills {
  margin-top: 1rem;
  width: 40%;
  border-radius: 2rem;
  color: white;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skill-box img {
  width: 70px;
}

.tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
}

.tooltip .bottom {
  top: 60px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 10px 20px;
  color: #444444;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  display: none;
}

.tooltip:hover .bottom {
  display: block;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  transition: 0.4s ease;
  background: rgb(255, 255, 255);
  z-index: 1;
}

.navbar-active {
  height: 4rem;
  box-shadow: rgba(190, 199, 208, 0.2) 0px 5px 15px;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  align-items: baseline;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo h2 {
  font-family: "Cinzel", serif;
  color: rgb(148, 122, 205);
  font-size: 1.6rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar li {
  list-style: none;
  padding: 0rem 0.6rem;
  font-size: 1.15rem;
  color: rgb(148, 122, 205);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}
.navbar li:hover {
  color: white;
  text-shadow: -2px 1px 10px rgb(38, 0, 121), -2px 1px 30px rgb(38, 0, 121);
}
.navbar a {
  text-decoration: none;
}

.mobile-menu-icon {
  display: none;
}

@media (max-width: 900px) {
  .navbar-container .navbar-inner {
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
    padding: 0rem 2rem;
  }
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background: rgb(28, 8, 44);
    transition: all 0.5s ease-out;
    z-index: 2;
  }
  .navbar-mobile li {
    list-style: none;
    padding: 0.5rem 0.6rem;
    font-size: 1.15rem;
    color: white;
    font-family: "Cinzel", serif;
    transition: 0.3s;
    cursor: pointer;
  }
  .navbar-mobile li:hover {
    color: white;
    text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
  }
  .navbar-mobile a {
    text-decoration: none;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: rgb(148, 122, 205);
    top: 0rem;
    right: 1.2rem;
    background: transparent;
    border: none;
    outline: none;
  }
}
@media (max-width: 450px) {
  .navbar-container .navbar-inner {
    width: 100%;
    max-width: 400px;
    padding: 0rem 2rem;
  }
}
.App {
  position: relative;
}/*# sourceMappingURL=App.css.map */