#home, #about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background: url("../assets/colorful-abstract-nebula-space-background.jpg") no-repeat center center/cover;
}

.home-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 6rem;
  width: 80%;
}
.home-inner .home-inner-left {
  padding: 1.5rem;
}
.home-inner .home-inner-left h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
}
.home-inner .home-inner-left .span_purple {
  color: rgb(148, 122, 205);
  font-size: 2.6rem;
}
.home-inner .home-inner-left .span_white {
  color: white;
}
.home-inner .home-inner-left button {
  background: rgb(100, 66, 175);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.home-inner .home-inner-left button:hover {
  background: rgb(83, 146, 71);
}
.home-inner .home-inner-left .fa-file-arrow-down {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.home-inner .home-inner-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  height: 30rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  box-shadow: rgba(249, 249, 249, 0.25) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
}
.home-inner .home-inner-right .home-inner-image {
  margin: 0.5rem;
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: url("../assets/Appleseeds_small.jpg") no-repeat center center/cover;
  box-shadow: rgba(249, 249, 249, 0.25) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
}

@media (max-width: 1200px) {
  .home-inner {
    gap: 0rem;
    width: 100%;
  }
  .home-inner .home-inner-left {
    text-align: center;
    width: 100%;
  }
  .home-inner .home-inner-right {
    box-shadow: none;
  }
}
#home, #about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background: url("../assets/colorful-abstract-nebula-space-background.jpg") no-repeat center center/cover;
}

.home-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 6rem;
  width: 80%;
}
.home-inner .home-inner-left {
  padding: 1.5rem;
}
.home-inner .home-inner-left h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
}
.home-inner .home-inner-left .span_purple {
  color: rgb(148, 122, 205);
  font-size: 2.6rem;
}
.home-inner .home-inner-left .span_white {
  color: white;
}
.home-inner .home-inner-left button {
  background: rgb(100, 66, 175);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.home-inner .home-inner-left button:hover {
  background: rgb(83, 146, 71);
}
.home-inner .home-inner-left .fa-file-arrow-down {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.home-inner .home-inner-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  height: 30rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  box-shadow: rgba(249, 249, 249, 0.25) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
}
.home-inner .home-inner-right .home-inner-image {
  margin: 0.5rem;
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: url("../assets/Appleseeds_small.jpg") no-repeat center center/cover;
  box-shadow: rgba(249, 249, 249, 0.25) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
}

@media (max-width: 1200px) {
  .home-inner {
    gap: 0rem;
    width: 100%;
  }
  .home-inner .home-inner-left {
    text-align: center;
    width: 100%;
  }
  .home-inner .home-inner-right {
    box-shadow: none;
  }
}
#about {
  background: rgb(28, 5, 47);
  justify-content: flex-start;
  height: 100vh;
  padding: 2rem;
}
#about .title h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(148, 122, 205);
  border-bottom: 2px solid white;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  transition: 0.4s ease;
  background: rgba(16, 7, 23, 0.8);
  z-index: 1;
}

.navbar-active {
  background: rgb(28, 5, 47);
  height: 7rem;
  opacity: 0.95;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  align-items: baseline;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo h2 {
  font-family: "Cinzel", serif;
  color: white;
  font-size: 1.6rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar li {
  list-style: none;
  padding: 0rem 0.6rem;
  font-size: 1.15rem;
  color: rgb(148, 122, 205);
  font-family: "Cinzel", serif;
  transition: 0.3s;
  cursor: pointer;
}
.navbar li:hover {
  color: white;
  text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
}
.navbar a {
  text-decoration: none;
}

.mobile-menu-icon {
  display: none;
}

@media (max-width: 900px) {
  .navbar-container .navbar-inner {
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
    padding: 0rem 2rem;
  }
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background: rgb(28, 8, 44);
    transition: all 0.5s ease-out;
    z-index: 2;
  }
  .navbar-mobile li {
    list-style: none;
    padding: 0.5rem 0.6rem;
    font-size: 1.15rem;
    color: white;
    font-family: "Cinzel", serif;
    transition: 0.3s;
    cursor: pointer;
  }
  .navbar-mobile li:hover {
    color: white;
    text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
  }
  .navbar-mobile a {
    text-decoration: none;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    top: 0rem;
    right: 1.2rem;
    background: transparent;
    border: none;
    outline: none;
  }
}
@media (max-width: 450px) {
  .navbar-container .navbar-inner {
    width: 100%;
    max-width: 400px;
    padding: 0rem 2rem;
  }
}
.App {
  position: relative;
}/*# sourceMappingURL=App.css.map */