@import "./variables";
@import "./home";
@import "./about";
@import "./navbar";
@import "./variables";
@import "./portfolio";
@import "./contact";
@import "./footer";

.App {
  position: relative;
}

.title {
  h1 {
    font-family: "Fuzzy Bubbles", cursive;
    // font-family: "Suez One", serif;

    // text-align: left;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: $secondaryColor;
    font-weight: bold;
    // margin-bottom: 0.8rem;
    font-size: 1.8rem;
    // border-bottom: 3px solid $thirdColor;

    // border-bottom: 2px solid white;
  }
}

.content-text {
  color: $contentText;
  font-family: $contentFont;
  font-size: 1.1rem;
  line-height: 1.5;
  color: $thirdColor;
}
.content-subtitle {
  text-align: center;
  width: 100%;
  font-family: "Fuzzy Bubbles", cursive;
  color: $contentText;
  font-weight: 700;
  border-bottom: 3px solid $thirdColor;
}
