#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background: rgb(252, 247, 255);
  background: linear-gradient(180deg, rgb(252, 247, 255) 25%, rgba(95, 160, 110, 0.268) 100%);
}

.home-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 6rem;
  width: 80%;
}
.home-inner .home-inner-left {
  padding: 1.5rem;
}
.home-inner .home-inner-left h1 {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 2.2rem;
}
.home-inner .home-inner-left .span_purple {
  color: rgba(45, 158, 109, 0.522);
  font-size: 2.6rem;
}
.home-inner .home-inner-left .span_white {
  color: rgb(38, 0, 121);
}
.home-inner .home-inner-left button {
  background: rgb(38, 0, 121);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 1rem;
  border: 0.5px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.home-inner .home-inner-left button:hover {
  background: rgba(5, 121, 90, 0.664);
  border: 0.5px solid rgba(5, 121, 90, 0.953);
}
.home-inner .home-inner-left .fa-file-arrow-down {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.home-inner .home-inner-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  height: 30rem;
  margin-bottom: 1rem;
  background: white;
  border-radius: 50%;
  box-shadow: rgba(87, 59, 59, 0.274) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
}
.home-inner .home-inner-right .home-inner-image {
  margin: 0.5rem;
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: url("../assets/Appleseeds_small.jpg") no-repeat center center/cover;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 1200px) {
  .home-inner {
    gap: 0rem;
    width: 100%;
  }
  .home-inner .home-inner-right {
    box-shadow: none;
    background: none;
  }
}
@media (max-width: 950px) {
  .home-inner .home-inner-left {
    text-align: center;
    width: 100%;
  }
  .home-inner .home-inner-right {
    max-width: 25rem;
    height: 25rem;
  }
  .home-inner .home-inner-right .home-inner-image {
    margin: 0.5rem;
    max-width: 20rem;
    height: 20rem;
  }
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  background: rgb(252, 247, 255);
  background: linear-gradient(180deg, rgb(252, 247, 255) 25%, rgba(95, 160, 110, 0.268) 100%);
}

.home-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 6rem;
  width: 80%;
}
.home-inner .home-inner-left {
  padding: 1.5rem;
}
.home-inner .home-inner-left h1 {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 2.2rem;
}
.home-inner .home-inner-left .span_purple {
  color: rgba(45, 158, 109, 0.522);
  font-size: 2.6rem;
}
.home-inner .home-inner-left .span_white {
  color: rgb(38, 0, 121);
}
.home-inner .home-inner-left button {
  background: rgb(38, 0, 121);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 1rem;
  border: 0.5px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.home-inner .home-inner-left button:hover {
  background: rgba(5, 121, 90, 0.664);
  border: 0.5px solid rgba(5, 121, 90, 0.953);
}
.home-inner .home-inner-left .fa-file-arrow-down {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.home-inner .home-inner-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  height: 30rem;
  margin-bottom: 1rem;
  background: white;
  border-radius: 50%;
  box-shadow: rgba(87, 59, 59, 0.274) 5px 13px 15px -5px, rgba(252, 247, 247, 0.3) 5px 8px 10px -8px;
}
.home-inner .home-inner-right .home-inner-image {
  margin: 0.5rem;
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: url("../assets/Appleseeds_small.jpg") no-repeat center center/cover;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 1200px) {
  .home-inner {
    gap: 0rem;
    width: 100%;
  }
  .home-inner .home-inner-right {
    box-shadow: none;
    background: none;
  }
}
@media (max-width: 950px) {
  .home-inner .home-inner-left {
    text-align: center;
    width: 100%;
  }
  .home-inner .home-inner-right {
    max-width: 25rem;
    height: 25rem;
  }
  .home-inner .home-inner-right .home-inner-image {
    margin: 0.5rem;
    max-width: 20rem;
    height: 20rem;
  }
}
#about {
  background: rgb(204, 190, 236);
  background: rgba(95, 160, 110, 0.268);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
}
#about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}
#about .box {
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  background: rgb(252, 247, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#about .content {
  width: 80%;
  margin-top: 1rem;
}
#about .skills {
  width: 90%;
}
#about .skills .skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.skill-box {
  margin: 0.5rem;
  padding: 0.7rem;
  background: rgba(255, 255, 255, 0.555);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5rem;
  transition: 0.3s all ease-out;
}
.skill-box:hover {
  transform: scale(1.1);
}
.skill-box img {
  width: 70px;
}

.tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
}

.tooltip .bottom {
  top: 70px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 1px 3px;
  min-width: 60px;
  text-align: center;
  color: rgb(126, 123, 123);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  display: none;
}

.tooltip:hover .bottom {
  display: block;
}

@media (max-width: 600px) {
  #about .about-container {
    width: 100%;
  }
  #about .skills {
    width: 100%;
  }
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 6rem;
  top: 0;
  left: 0;
  transition: 0.4s ease;
  background: rgb(252, 247, 255);
  z-index: 1;
  box-shadow: rgba(190, 199, 208, 0.2) 0px 5px 15px;
}

.navbar-active {
  height: 4rem;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  align-items: baseline;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo h2 {
  font-family: "Cinzel", serif;
  color: rgb(148, 122, 205);
  color: rgb(38, 0, 121);
  font-size: 1.6rem;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar li {
  list-style: none;
  padding: 0rem 0.6rem;
  font-size: 1.25rem;
  color: rgb(148, 122, 205);
  color: rgb(38, 0, 121);
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: 700;
  transition: 0.6s;
  cursor: pointer;
}
.navbar li:hover {
  color: white;
  text-shadow: -2px 1px 10px rgb(38, 0, 121), -2px 1px 30px rgb(38, 0, 121);
}
.navbar a {
  text-decoration: none;
}

.mobile-menu-icon {
  display: none;
}

@media (max-width: 900px) {
  .navbar-container .navbar-inner {
    justify-content: flex-start;
    width: 100%;
    max-width: 800px;
    padding: 0rem 2rem;
  }
  .logo h2 {
    font-size: 1.3rem;
  }
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background: rgb(148, 122, 205);
    transition: all 0.5s ease-out;
    z-index: 2;
  }
  .navbar-mobile li {
    list-style: none;
    padding: 0.5rem 0.6rem;
    font-size: 1.15rem;
    color: white;
    font-family: "Cinzel", serif;
    transition: 0.3s;
    cursor: pointer;
  }
  .navbar-mobile li:hover {
    color: rgb(38, 0, 121);
  }
  .navbar-mobile a {
    text-decoration: none;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: rgb(148, 122, 205);
    top: -0.1rem;
    right: 1.5rem;
    background: transparent;
    border: none;
    outline: none;
  }
}
@media (max-width: 450px) {
  .navbar-container .navbar-inner {
    width: 100%;
    padding: 0rem 1.3rem;
  }
}
#portfolio {
  background: rgb(252, 247, 255);
  background: linear-gradient(0deg, rgb(252, 247, 255) 15%, rgba(95, 160, 110, 0.268) 100%);
  padding-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
}
#portfolio .portfolio-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  padding-top: 2rem;
  width: 100%;
  flex-direction: row;
  gap: 1.4rem;
  flex-wrap: wrap;
}
#portfolio .portfolio-container .project-box {
  display: flex;
  align-items: center;
  padding: 1rem;
  max-width: 100%;
  min-height: 20rem;
  border-radius: 2rem;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#portfolio .portfolio-container .project-box .project-box-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#portfolio .portfolio-container .project-box .project-box-inner .project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 30rem;
  min-height: 20rem;
  background: rgba(207, 195, 213, 0.558);
  background: rgba(95, 160, 110, 0.268);
  border-radius: 1rem;
}
#portfolio .portfolio-container .project-box .project-box-inner .project-image img {
  width: 25rem;
  border-radius: 1rem;
  -o-object-position: center;
     object-position: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: block;
  transition: 1s;
}
#portfolio .portfolio-container .project-box .project-box-inner .project-image img:hover {
  box-shadow: rgba(14, 30, 37, 0.504) 0px 2px 4px 0px, rgba(14, 30, 37, 0.548) 0px 2px 16px 0px;
}
#portfolio .portfolio-container .project-box .project-box-inner .project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background: rgba(207, 195, 213, 0.558);
  background: rgba(95, 160, 110, 0.268);
  border-radius: 1rem;
  max-width: 45rem;
  min-height: 20rem;
}
#portfolio .portfolio-container .project-box .project-box-inner .project-content h3 {
  font-family: "Montserrat", sans-serif;
  color: rgb(38, 0, 121);
  margin-bottom: 1rem;
}
#portfolio .portfolio-container .project-box .project-box-inner .project-content p {
  margin: 0.4rem;
  font-size: 1rem;
}
#portfolio .portfolio-container .project-box .project-box-inner .project-content .icon-links {
  display: flex;
  gap: 0.4rem;
  margin: 0.5rem;
}
#portfolio .portfolio-container .project-box .project-box-inner .project-content .icon-links .fa-link,
#portfolio .portfolio-container .project-box .project-box-inner .project-content .icon-links .fa-video,
#portfolio .portfolio-container .project-box .project-box-inner .project-content .icon-links .fa-github {
  font-size: 1.8rem;
  color: rgb(103, 73, 168);
  transition: 0.2s all ease-in-out;
}
#portfolio .portfolio-container .project-box .project-box-inner .project-content .icon-links .fa-link:hover,
#portfolio .portfolio-container .project-box .project-box-inner .project-content .icon-links .fa-video:hover,
#portfolio .portfolio-container .project-box .project-box-inner .project-content .icon-links .fa-github:hover {
  color: rgba(45, 158, 109, 0.522);
}

@media (max-width: 1000px) {
  #portfolio .portfolio-container .project-box .project-box-inner {
    flex-direction: column;
  }
  #portfolio .portfolio-container .project-box .project-box-inner .project-content {
    max-width: 30rem;
  }
}
@media (max-width: 550px) {
  #portfolio .portfolio-container .project-box .project-box-inner .project-content {
    width: 100%;
  }
  #portfolio .portfolio-container .project-box .project-box-inner .project-image {
    width: 100%;
  }
  #portfolio .portfolio-container .project-box .project-box-inner .project-image img {
    width: 100%;
  }
}
.App {
  position: relative;
}

.title h1 {
  font-family: "Fuzzy Bubbles", cursive;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: rgb(148, 122, 205);
  font-weight: bold;
  font-size: 1.8rem;
}

.content-text {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  color: rgb(38, 0, 121);
}

.content-subtitle {
  text-align: center;
  width: 100%;
  font-family: "Fuzzy Bubbles", cursive;
  color: #333;
  font-weight: 700;
  border-bottom: 3px solid rgb(38, 0, 121);
}/*# sourceMappingURL=App.css.map */